<h2><code>animate.enter</code> Example</h2>

<button type="button"  class="px-4 py-2 bg-black rounded-full text-white cursor-pointer" (click)="toggle()">Toggle Element</button>

@if (isShown()) {  
  <div class="enter-container" animate.enter="enter-animation" animate.leave="leave-animation">    
    <p>The box is entering.</p>  
  </div>
}




<div class="my-4">
  @for (product of products(); track $index) {
  <div class="p-4 border-b">{{ product.title }}</div>
  }
</div>

@if (skip() <total()) {
    <button
  class="px-4 py-2 bg-black rounded-full text-white cursor-pointer"
  (click)="handleLoadMore()"
>
  Load more ...
</button>

}
